@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
:root {
    --bg: 40, 40, 40;
    --bg_focus: 64, 64, 64;
    --ac: 100, 60, 250;
    --txt: 255, 255, 255;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(var(--bg));
}

.sideBar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(var(--bg_focus));
}
.sideBar_top {
    border-bottom: 2px solid white;
    border-image: linear-gradient(90deg, rgb(var(--ac)), #00000000) 1;
}
.sideBar_logo {
    color: rgb(var(--txt));
    font-family: 'Fredoka', sans-serif;
    font-size: 28px;
}

.page {
    top: 0;
    left: 0;
    margin-left: 27%;
    position: fixed;
    color: rgb(var(--txt));
}


.boxTop {
    background-color: rgb(var(--bg));
    padding: 7px;
}
.boxBottom {
    padding: 7px;
}