:root {
    --bg: 40, 40, 40;
    --bg_focus: 64, 64, 64;
    --ac: 255, 0, 0;
    --txt: 255, 255, 255;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(var(--bg));
}

.sideBar {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(var(--bg_focus));
}
.sideBar_top {
    border-bottom: 2px solid white;
    border-image: linear-gradient(rgb(var(--ac)), #00000000) 1;
}

.boxTop {
    background-color: rgb(var(--bg));
    padding: 7px;
}
.boxBottom {
    padding: 7px;
}